<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Man City: Nuôi hy vọng dù mong manh</string>
		<key>link</key>
		<string>http://hn.24h.com.vn/bong-da/man-city-nuoi-hy-vong-du-mong-manh-c48a536307.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>West Ham – MU: Rượt đuổi ngoạn mục</string>
		<key>link</key>
		<string>http://hn.24h.com.vn/bong-da/west-ham-mu-c48a536238.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Real soán ngôi &quot;vua kiếm tiền&quot; của MU</string>
		<key>link</key>
		<string>http://hn.24h.com.vn/bong-da-ngoai-hang-anh/doi-bong-giau-nhat-real-qua-mat-mu-c149a536321.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Hàng công Chelsea: Tiền, SAO &amp; kết quả</string>
		<key>link</key>
		<string>http://hn.24h.com.vn/bong-da-ngoai-hang-anh/hang-cong-chelsea-tien-sao-ket-qua-c149a536017.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Persie, Carrick, Rafael xuất sắc nhất MU</string>
		<key>link</key>
		<string>http://hn.24h.com.vn/bong-da-ngoai-hang-anh/cau-thu-mu-xuat-sac-nhat-mua-c149a536134.html</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Carroll xông phi, hạ gục De Gea</string>
		<key>link</key>
		<string>http://hn.24h.com.vn/bong-da/carroll-xong-phi-ha-guc-de-gea-c48a536334.html</string>
	</dict>
</array>
</plist>
