<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageItem</key>
		<string>bird</string>
		<key>sound</key>
		<string>bird</string>
		<key>examWord</key>
		<string>二本足で鳥の散歩</string>
		<key>examSound</key>
		<string>birdexam</string>
		<key>width</key>
		<integer>40</integer>
		<key>height</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>imageItem</key>
		<string>dog</string>
		<key>sound</key>
		<string>dog</string>
		<key>examWord</key>
		<string>犬4脚を持って</string>
		<key>examSound</key>
		<string>dogexam</string>
		<key>width</key>
		<integer>128</integer>
		<key>height</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>imageItem</key>
		<string>camap</string>
		<key>sound</key>
		<string>camap</string>
		<key>examWord</key>
		<string>サメは軟骨魚魚の一種である</string>
		<key>examSound</key>
		<string>camapexam</string>
		<key>width</key>
		<integer>216</integer>
		<key>height</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>imageItem</key>
		<string>lion</string>
		<key>sound</key>
		<string>lion</string>
		<key>examWord</key>
		<string>ライオン愛称卿森絵</string>
		<key>examSound</key>
		<string>lionexam</string>
		<key>width</key>
		<integer>40</integer>
		<key>height</key>
		<integer>143</integer>
	</dict>
	<dict>
		<key>imageItem</key>
		<string>fox</string>
		<key>sound</key>
		<string>fox</string>
		<key>examWord</key>
		<string>レポートには、細長い鼻ふさふさ尾です</string>
		<key>examSound</key>
		<string>foxexam</string>
		<key>width</key>
		<integer>128</integer>
		<key>height</key>
		<integer>143</integer>
	</dict>
	<dict>
		<key>imageItem</key>
		<string>pig</string>
		<key>sound</key>
		<string>pig</string>
		<key>examWord</key>
		<string>ブタ肉を提供するために上昇さ</string>
		<key>examSound</key>
		<string>pigexam</string>
		<key>width</key>
		<integer>216</integer>
		<key>height</key>
		<integer>143</integer>
	</dict>
	<dict>
		<key>imageItem</key>
		<string>tiger</string>
		<key>sound</key>
		<string>tiger</string>
		<key>examWord</key>
		<string>虎は猫に属する哺乳類の種です</string>
		<key>examSound</key>
		<string>tigerexam</string>
		<key>width</key>
		<integer>40</integer>
		<key>height</key>
		<integer>236</integer>
	</dict>
	<dict>
		<key>imageItem</key>
		<string>monkey</string>
		<key>sound</key>
		<string>monkey</string>
		<key>examWord</key>
		<string>猿、哺乳類、霊長類の種です</string>
		<key>examSound</key>
		<string>monkeyexam</string>
		<key>width</key>
		<integer>128</integer>
		<key>height</key>
		<integer>236</integer>
	</dict>
	<dict>
		<key>imageItem</key>
		<string>cat</string>
		<key>sound</key>
		<string>cat</string>
		<key>examWord</key>
		<string>人間と生きている猫</string>
		<key>examSound</key>
		<string>catexam</string>
		<key>width</key>
		<integer>216</integer>
		<key>height</key>
		<integer>236</integer>
	</dict>
</array>
</plist>
