<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageItem</key>
		<string>apple</string>
		<key>sound</key>
		<string>apple</string>
		<key>examWord</key>
		<string>リンゴは、より栄養価の高い果物です。</string>
		<key>examSound</key>
		<string>appleexam</string>
		<key>width</key>
		<integer>40</integer>
		<key>height</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>imageItem</key>
		<string>banana</string>
		<key>sound</key>
		<string>banana</string>
		<key>examWord</key>
		<string>バナナの果実は最も広く食べられている</string>
		<key>examSound</key>
		<string>bananaexam</string>
		<key>width</key>
		<integer>128</integer>
		<key>height</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>imageItem</key>
		<string>dao</string>
		<key>sound</key>
		<string>dao</string>
		<key>examWord</key>
		<string>ハードシェル木材に包まれた桃の種</string>
		<key>examSound</key>
		<string>daoexam</string>
		<key>width</key>
		<integer>216</integer>
		<key>height</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>imageItem</key>
		<string>dautay</string>
		<key>sound</key>
		<string>dautay</string>
		<key>examWord</key>
		<string>イチゴはデザートを作るために使用されている</string>
		<key>examSound</key>
		<string>dautayexam</string>
		<key>width</key>
		<integer>40</integer>
		<key>height</key>
		<integer>143</integer>
	</dict>
	<dict>
		<key>imageItem</key>
		<string>dua</string>
		<key>sound</key>
		<string>dua</string>
		<key>examWord</key>
		<string>ココナッツシェルしばしばハード出</string>
		<key>examSound</key>
		<string>duaexam</string>
		<key>width</key>
		<integer>128</integer>
		<key>height</key>
		<integer>143</integer>
	</dict>
	<dict>
		<key>imageItem</key>
		<string>kiwi</string>
		<key>sound</key>
		<string>kiwi</string>
		<key>examWord</key>
		<string>キウイの果実です</string>
		<key>examSound</key>
		<string>kiwiexam</string>
		<key>width</key>
		<integer>216</integer>
		<key>height</key>
		<integer>143</integer>
	</dict>
	<dict>
		<key>imageItem</key>
		<string>le</string>
		<key>sound</key>
		<string>le</string>
		<key>examWord</key>
		<string>梨は、健康に良いです</string>
		<key>examSound</key>
		<string>leexam</string>
		<key>width</key>
		<integer>40</integer>
		<key>height</key>
		<integer>236</integer>
	</dict>
	<dict>
		<key>imageItem</key>
		<string>orange</string>
		<key>sound</key>
		<string>orange</string>
		<key>examWord</key>
		<string>グレープフルーツと一緒に彼らの果樹</string>
		<key>examSound</key>
		<string>orangeexam</string>
		<key>width</key>
		<integer>128</integer>
		<key>height</key>
		<integer>236</integer>
	</dict>
	<dict>
		<key>imageItem</key>
		<string>xoai</string>
		<key>sound</key>
		<string>xoai</string>
		<key>examWord</key>
		<string>マンゴーの木がトロピカルフルーツです</string>
		<key>New item</key>
		<string></string>
		<key>examSound</key>
		<string>xoaiexam</string>
		<key>width</key>
		<integer>216</integer>
		<key>height</key>
		<integer>236</integer>
	</dict>
</array>
</plist>
